<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo animated-logo">Khurshed Alam Sifat</span>
  <span class="spacer"></span>
  <nav class="toolbar-nav">
    <a mat-button routerLink="#" (click)="scrollTo('home')" class="nav-link">Home</a>
    <a mat-button routerLink="#" (click)="scrollTo('about')" class="nav-link">About</a>
    <a mat-button routerLink="#" (click)="scrollTo('projects')" class="nav-link">Projects</a>
    <a mat-button routerLink="#" (click)="scrollTo('contact')" class="nav-link">Contact</a>
  </nav>
</mat-toolbar>
